# ======================================================================
# SERVICES
# ======================================================================
services:
  # --------------------------------------------------------------------
  # OPENLDAP AND PHPLDAPADMIN
  # --------------------------------------------------------------------

  openldap:
    image: osixia/openldap:latest
    restart: unless-stopped
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Satory Company LTD"
      LDAP_DOMAIN: "satory.kz"
      # LDAP_BASE_DN: "dc=satory,dc=kz"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"

      LDAP_TLS: "true"
      LDAP_TLS_VERIFY_CLIENT: "never"

      # имена сертификатов (обязательны даже при авто-GEN)
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"

      LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
      KEEP_EXISTING_CONFIG: "false"
    tty: true
    stdin_open: true
    volumes:
      - ./openldap/data:/var/lib/ldap
      - ./openldap/config:/etc/ldap/slapd.d
      - ./openldap/certs:/container/service/slapd/assets/certs   # ← обязательно!
    ports:
      - "389:389"
      - "636:636"
    networks:
      - satory_net

# --------------------------------------------------------------------
# PHPLDAPADMIN
# --------------------------------------------------------------------
  # phpldapadmin:
  #   image: phpldapadmin/phpldapadmin:2.3.4
  #   container_name: phpldapadmin
  #   restart: unless-stopped
  #   environment:
  #     LDAP_HOST: openldap
  #     LDAP_LOGIN_ATTR: dn
  #     LDAP_LOGIN_OBJECTCLASS: posixAccount,inetOrgPerson
  #     LDAP_USERNAME: cn=admin,dc=satory,dc=kz
  #     LDAP_PASSWORD: admin
  #     LDAP_BASE_DN: dc=satory,dc=kz
  #     LDAP_ALLOW_GUEST: "true"
  #     PHPLDAPADMIN_HTTPS: "false"
  #     APP_DEBUG: "true"
  #     APP_TIMEZONE: "Asia/Almaty"
      

  #   ports:
  #     - "8082:8080"
  #   networks:
  #     - satory_net
  #   depends_on:
  #     - openldap


  phpldapadmin:
    image: phpldapadmin/phpldapadmin:latest
    container_name: phpldapadmin
    restart: unless-stopped
    environment:
      APP_KEY: "base64:JTrlcdDCUk3o7uz7kb0ri2kUSx8URXDztObikAMkSwQ="
      APP_DEBUG: "true"
      APP_TIMEZONE: "Asia/Almaty"

      LDAP_HOST: "openldap"
      LDAP_PORT: "389"
      LDAP_BASE_DN: "cndc=satory,dc=kz"
      LDAP_USERNAME: "cn=admin,dc=satory,dc=kz"
      LDAP_PASSWORD: "admin"

      LDAP_LOGIN_ATTR: "uid"
      LDAP_LOGIN_OBJECTCLASS: "inetOrgPerson,posixAccount"
      LDAP_ALLOW_GUEST: "false"
      LDAP_NAME: "Satory LDAP"
    volumes:
      - ./phpldapadmin/logs:/app/storage/logs
    ports:
      - "8082:8080"
    depends_on:
      - openldap
    networks:
      - satory_net





  # --------------------------------------------------------------------
  # OXIDIZED
  # --------------------------------------------------------------------
  oxidized:
    image: oxidized/oxidized:latest
    restart: unless-stopped
    networks:
      - satory_net
    ports:
      - "8888:8888"
    volumes:
      - ../oxidized/config:/home/oxidized/.config/oxidized
      - ../oxidized/backups:/home/oxidized/.config/oxidized/backups
    environment:
      CONFIG_RELOAD: "300"
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:8888 || exit 1"]
      interval: 20s
      retries: 5


# ======================================================================
# VOLUMES
# ======================================================================
volumes:
  netbox-media-files:
  netbox-postgres-data:
  netbox-redis-data:
  netbox-redis-cache-data:
  netbox-reports-files:
  netbox-scripts-files:
  keycloak-postgres-data:
  vault-data:
  observium-mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: /opt/satory.kz/data/observium-mariadb
      o: bind
# ======================================================================
# NETWORKS
# ======================================================================
networks:
  satory_net:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: satory0

  back-tier:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: backend0
